exportPattern("^[[:alpha:]]+")

export("logist_confint")
export("logist_predint")
export("loglik_trinom_prof")
export("r_hat")
export("lrt_confint")



S3method("coef", "pl_fit")
S3method("fitted", "pl_fit")
S3method("confint", "pl_fit")
S3method("predict", "pl_fit")
S3method("logist_confint", "pl_fit")

S3method("logist_predint", "pl_fit")
